# Esta es la plantilla que Sebastián y Paulo 
# copiarán para crear sus propios .env:

# Indicaciones:
# Copia este archivo, renómbralo como .env y rellena con tu contraseña real de MySQL
# NUNCA subas el archivo .env a GitHub — que por cierto ya está en .gitignore

DB_HOST=localhost
DB_PORT=3306
DB_USER=app_user
DB_PASSWORD=TU_CONTRASEÑA_AQUI  # Lo mejor seria pongan todos la misma es decir: TORRES_2007
DB_NAME=gestion_tareas_sena